@font-face {
  font-family: 'icomoonPart';
  src:  url('fonts/icomoon.eot?rwjzgh');
  src:  url('fonts/icomoon.eot?rwjzgh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rwjzgh') format('truetype'),
    url('fonts/icomoon.woff?rwjzgh') format('woff'),
    url('fonts/icomoon.svg?rwjzgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonPart-"], [class*=" icomoonPart-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonPart' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonPart-attache:before {
  content: "\e900";
  color: #00538c;
}
.icomoonPart-document:before {
  content: "\e901";
  color: #00538c;
}
.icomoonPart-human:before {
  content: "\e902";
  color: #00538c;
}
