@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pmuzh4');
  src:  url('fonts/icomoon.eot?pmuzh4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pmuzh4') format('truetype'),
    url('fonts/icomoon.woff?pmuzh4') format('woff'),
    url('fonts/icomoon.svg?pmuzh4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e90d";
}
.icon-adaptive:before {
  content: "\e900";
  color: #00538c;
}
.icon-auto:before {
  content: "\e901";
  color: #00538c;
}
.icon-database:before {
  content: "\e902";
  color: #00538c;
}
.icon-design:before {
  content: "\e903";
  color: #00538c;
}
.icon-document:before {
  content: "\e904";
  color: #00538c;
}
.icon-graph:before {
  content: "\e905";
  color: #00538c;
}
.icon-landing:before {
  content: "\e906";
  color: #00538c;
}
.icon-layers:before {
  content: "\e907";
  color: #00538c;
}
.icon-load:before {
  content: "\e908";
  color: #00538c;
}
.icon-manual:before {
  content: "\e909";
  color: #00538c;
}
.icon-reg:before {
  content: "\e90a";
  color: #00538c;
}
.icon-seo_done:before {
  content: "\e90b";
  color: #00538c;
}
.icon-ux:before {
  content: "\e90c";
  color: #00538c;
}
