@font-face {
  font-family: 'icomoonDesign';
  src:  url('fonts/icomoon.eot?2nnmy3');
  src:  url('fonts/icomoon.eot?2nnmy3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2nnmy3') format('truetype'),
    url('fonts/icomoon.woff?2nnmy3') format('woff'),
    url('fonts/icomoon.svg?2nnmy3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonDesign-"], [class*=" icomoonDesign-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonDesign' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonDesign-design_done:before {
  content: "\e900";
  color: #00538c;
}
.icomoonDesign-sketch:before {
  content: "\e901";
  color: #00538c;
}
