@font-face {
  font-family: 'icomoonCost';
  src:  url('fonts/icomoon.eot?4vt3hn');
  src:  url('fonts/icomoon.eot?4vt3hn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4vt3hn') format('truetype'),
    url('fonts/icomoon.woff?4vt3hn') format('woff'),
    url('fonts/icomoon.svg?4vt3hn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonCost-"], [class*=" icomoonCost-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonCost' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonCost-content:before {
  content: "\e900";
  color: #00538c;
}
.icomoonCost-how_much:before {
  content: "\e901";
  color: #fff;
}
.icomoonCost-pay:before {
  content: "\e902";
  color: #00538c;
}
.icomoonCost-price:before {
  content: "\e903";
  color: #00538c;
}
