@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.eot');
    src: url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.woff2') format('woff2'),
        url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.woff') format('woff'),
        url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.ttf') format('truetype'),
        url('https://afonico.ru/wp-content/themes/afonico/new-assets/fonts/PFDinTextCondPro/PFDinTextCondPro-Thin.svg#PFDinTextCondPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

