@font-face {
  font-family: 'icomoonMenu';
  src:  url('fonts/icomoon.eot?3942zn');
  src:  url('fonts/icomoon.eot?3942zn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3942zn') format('truetype'),
    url('fonts/icomoon.woff?3942zn') format('woff'),
    url('fonts/icomoon.svg?3942zn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonMenu-"], [class*=" icomoonMenu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonMenu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonMenu-about:before {
  content: "\e900";
  color: #00538c;
}
.icomoonMenu-blog:before {
  content: "\e901";
  color: #00538c;
}
.icomoonMenu-contacts:before {
  content: "\e902";
  color: #00538c;
}
.icomoonMenu-design:before {
  content: "\e903";
  color: #00538c;
}
.icomoonMenu-document:before {
  content: "\e904";
  color: #00538c;
}
.icomoonMenu-portfolio:before {
  content: "\e905";
  color: #00538c;
}
.icomoonMenu-presentation:before {
  content: "\e906";
  color: #00538c;
}
.icomoonMenu-price:before {
  content: "\e907";
  color: #00538c;
}
.icomoonMenu-seo_opt:before {
  content: "\e908";
  color: #00538c;
}
.icomoonMenu-web_design:before {
  content: "\e909";
  color: #00538c;
}
