@font-face {
  font-family: 'icomoonCase';
  src:  url('fonts/icomoon.eot?55lfz');
  src:  url('fonts/icomoon.eot?55lfz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?55lfz') format('truetype'),
    url('fonts/icomoon.woff?55lfz') format('woff'),
    url('fonts/icomoon.svg?55lfz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonCase-"], [class*=" icomoonCase-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonCase' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonCase-case:before {
  content: "\e900";
  color: #fff;
}
