@font-face {
  font-family: 'icomoonPrice';
  src:  url('fonts/icomoon.eot?bkuj2o');
  src:  url('fonts/icomoon.eot?bkuj2o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bkuj2o') format('truetype'),
    url('fonts/icomoon.woff?bkuj2o') format('woff'),
    url('fonts/icomoon.svg?bkuj2o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonPrice-"], [class*=" icomoonPrice-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonPrice' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonPrice-content:before {
  content: "\e900";
  color: #00538c;
}
.icomoonPrice-context:before {
  content: "\e901";
  color: #00538c;
}
.icomoonPrice-design_done:before {
  content: "\e902";
  color: #00538c;
}
.icomoonPrice-graph:before {
  content: "\e903";
  color: #00538c;
}
.icomoonPrice-programming:before {
  content: "\e904";
  color: #00538c;
}
.icomoonPrice-seo_classic:before {
  content: "\e905";
  color: #00538c;
}
.icomoonPrice-site:before {
  content: "\e906";
  color: #00538c;
}
.icomoonPrice-SMM:before {
  content: "\e907";
  color: #00538c;
}
