@font-face {
  font-family: 'icomoonKP';
  src:  url('fonts/icomoon.eot?ar3q1m');
  src:  url('fonts/icomoon.eot?ar3q1m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ar3q1m') format('truetype'),
    url('fonts/icomoon.woff?ar3q1m') format('woff'),
    url('fonts/icomoon.svg?ar3q1m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconKP-"], [class*=" iconKP-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonKP' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconKP-announcement:before {
  content: "\e927";
  color: #00538c;
}
.iconKP-audit:before {
  content: "\e928";
  color: #00538c;
}
.iconKP-browser:before {
  content: "\e929";
  color: #00538c;
}
.iconKP-hello:before {
  content: "\e92a";
  color: #00538c;
}
.iconKP-items:before {
  content: "\e92b";
  color: #00538c;
}
.iconKP-map:before {
  content: "\e92c";
  color: #00538c;
}
.iconKP-phone:before {
  content: "\e92d";
  color: #00538c;
}
.iconKP-quantity:before {
  content: "\e92e";
  color: #00538c;
}
.iconKP-speed:before {
  content: "\e92f";
  color: #00538c;
}
.iconKP-theme:before {
  content: "\e930";
  color: #00538c;
}
.iconKP-youtube:before {
  content: "\e931";
  color: #00538c;
}
.iconKP-about:before {
  content: "\e900";
}
.iconKP-all-1:before {
  content: "\e901";
}
.iconKP-all:before {
  content: "\e902";
}
.iconKP-calendar-1:before {
  content: "\e903";
}
.iconKP-calendar:before {
  content: "\e904";
}
.iconKP-cash:before {
  content: "\e905";
}
.iconKP-company:before {
  content: "\e906";
}
.iconKP-corp_sites:before {
  content: "\e907";
}
.iconKP-design-1:before {
  content: "\e908";
}
.iconKP-design:before {
  content: "\e909";
}
.iconKP-document:before {
  content: "\e90a";
}
.iconKP-edit:before {
  content: "\e90b";
}
.iconKP-give:before {
  content: "\e90c";
}
.iconKP-hosting:before {
  content: "\e90d";
}
.iconKP-in_process-1:before {
  content: "\e90e";
}
.iconKP-in_process:before {
  content: "\e90f";
}
.iconKP-internet-magazin-1:before {
  content: "\e910";
}
.iconKP-internet-magazin-2:before {
  content: "\e911";
}
.iconKP-internet-magazin:before {
  content: "\e912";
}
.iconKP-link:before {
  content: "\e913";
}
.iconKP-lp-1:before {
  content: "\e914";
}
.iconKP-lp:before {
  content: "\e915";
}
.iconKP-mail:before {
  content: "\e916";
}
.iconKP-pen:before {
  content: "\e917";
}
.iconKP-peoples:before {
  content: "\e918";
}
.iconKP-portfolio:before {
  content: "\e919";
}
.iconKP-present:before {
  content: "\e91a";
}
.iconKP-risk:before {
  content: "\e91b";
}
.iconKP-ruble-1:before {
  content: "\e91c";
}
.iconKP-ruble:before {
  content: "\e91d";
}
.iconKP-seo:before {
  content: "\e91e";
}
.iconKP-services-1:before {
  content: "\e91f";
}
.iconKP-services:before {
  content: "\e920";
}
.iconKP-settings:before {
  content: "\e921";
}
.iconKP-smm:before {
  content: "\e922";
}
.iconKP-steps:before {
  content: "\e923";
}
.iconKP-tz:before {
  content: "\e924";
}
.iconKP-visit:before {
  content: "\e925";
}
.iconKP-context:before {
  content: "\e926";
}
