@font-face {
  font-family: 'icomoonSEO';
  src:  url('fonts/icomoon.eot?bw7835');
  src:  url('fonts/icomoon.eot?bw7835#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bw7835') format('truetype'),
    url('fonts/icomoon.woff?bw7835') format('woff'),
    url('fonts/icomoon.svg?bw7835#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonSEO-"], [class*=" icomoonSEO-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonSEO' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonSEO-seo_done:before {
  content: "\e900";
  color: #00538c;
}
