@font-face {
  font-family: 'icomoonRight';
  src:  url('fonts/icomoon.eot?ed44fz');
  src:  url('fonts/icomoon.eot?ed44fz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ed44fz') format('truetype'),
    url('fonts/icomoon.woff?ed44fz') format('woff'),
    url('fonts/icomoon.svg?ed44fz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonRight-"], [class*=" icomoonRight-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonRight' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonRight-archive:before {
  content: "\e900";
  color: #00538c;
}
.icomoonRight-context:before {
  content: "\e901";
  color: #00538c;
}
.icomoonRight-function:before {
  content: "\e902";
  color: #00538c;
}
.icomoonRight-hard:before {
  content: "\e903";
  color: #00538c;
}
.icomoonRight-programming:before {
  content: "\e904";
  color: #00538c;
}
.icomoonRight-repair:before {
  content: "\e905";
  color: #00538c;
}
.icomoonRight-seo:before {
  content: "\e906";
  color: #00538c;
}
