@font-face {
  font-family: 'icomoonArrow';
  src:  url('fonts/icomoon.eot?2b18r1');
  src:  url('fonts/icomoon.eot?2b18r1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ыфыы2b18r1') format('truetype'),
    url('fonts/icomoon.woff?2b18r1') format('woff'),
    url('fonts/icomoon.svg?2b18r1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonArrow-"], [class*=" icomoonArrow-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonArrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonArrow-arrow:before {
  content: "\e900";
  color: #00538c;
}
