@font-face {
  font-family: 'icomoonCases';
  src:  url('fonts/icomoon.eot?f5eed4');
  src:  url('fonts/icomoon.eot?f5eed4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5eed4') format('truetype'),
    url('fonts/icomoon.woff?f5eed4') format('woff'),
    url('fonts/icomoon.svg?f5eed4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonCases-"], [class*=" icomoonCases-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonCases' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonCases-corp:before {
  content: "\e900";
  color: #00538c;
}
.icomoonCases-design:before {
  content: "\e901";
  color: #00538c;
}
.icomoonCases-landing:before {
  content: "\e902";
  color: #00538c;
}
.icomoonCases-service:before {
  content: "\e903";
  color: #00538c;
}
.icomoonCases-site:before {
  content: "\e904";
  color: #00538c;
}
.icomoonCases-store:before {
  content: "\e905";
  color: #00538c;
}
.icomoonCases-world:before {
  content: "\e906";
  color: #00538c;
}
