@font-face {
  font-family: 'icomoonNetwork';
  src:  url('fonts/icomoon.eot?tj22qw');
  src:  url('fonts/icomoon.eot?tj22qw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tj22qw') format('truetype'),
    url('fonts/icomoon.woff?tj22qw') format('woff'),
    url('fonts/icomoon.svg?tj22qw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonNetwork-"], [class*=" icomoonNetwork-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonNetwork' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-smartphone:before {
  content: "\e907";
  color: #00538c;
}
.icomoonNetwork-facebook:before {
  content: "\e900";
  color: #00538c;
}
.icomoonNetwork-instagram:before {
  content: "\e901";
  color: #00538c;
}
.icomoonNetwork-phone:before {
  content: "\e902";
  color: #00538c;
}
.icomoonNetwork-twitter:before {
  content: "\e903";
  color: #00538c;
}
.icomoonNetwork-vk:before {
  content: "\e904";
  color: #00538c;
}
.icomoonNetwork-whatsapp:before {
  content: "\e905";
  color: #00538c;
}
.icomoonNetwork-youtube:before {
  content: "\e906";
  color: #00538c;
}