$about-gradient: linear-gradient(to top right, #007440, #4ABA88);
$about-color: #4ABA88;


.grid.about {
  padding-top: 0;
}
.footer-back.about, .footer-next.about {
  svg {
    stroke: $about-color !important;
  }
}
.about {
  h2 {
    font-size: 2.8vw;
    font-weight: bold;
    text-transform: none;
    background: $about-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  h1 {
    padding: 20px 20px 0px 20px;
    font-weight: bold;
    font-size: 3.8vw;
    color: white;
    display: table-caption;
    line-height: 1.3em;
    font-family: sans-serif;
  }


  .slick-list, .slick-track {
    height: 100%;
  }
  .grid-container {
    //padding: 20px;
    position: relative;
  }

  .about-header-title {

    top: 0;
    left: 0;
    display: flex;
    padding: 5px 0px 0 0px;
    width: 100%;
  }
  .about-slider-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1vh;
  }
  .about-header-title-left-space {
    width: calc(100% / 3);
    margin: 5px;
    height: 90px;
  }
  .about-header-title-right-space {
    width: calc(100% / 3);
    margin: 5px;
    height: 90px;
  }
  .about-header-title-space-content {
    @extend .header-menu-block;
    width: calc(100% / 3);
    margin: 5px;
    height: 90px;
    border-radius: $border-radius;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .about-header-title-space-content-text {
    display: flex;
    align-items: baseline;
  }
  .about-first-block {
    @extend .banner-item;
    position: relative;
    height: 60%;
  }

  .about-second-block {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }
  .grid-ad-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-ad-text {
    padding: 0 20px 20px 20px;
    width: 80%;
    font-size: 1.3vw;
    line-height: normal;
  }
  .grid-ad-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .about-fourth-block {
    @extend .banner-item;
    position: relative;
    height: 30%;
  }

  .grid-title {
    @extend .banner-item;
    position: relative;
    height: 70%;

    .grid-container {
      background: $about-gradient;
    }
  }
  .grid-title-text {
    padding: 0px 20px;
    font-size: 2vw;
    line-height: 1.4em;
    color: white !important;
  }

  .grid-title-icon {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 52%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-fifth-block {
    @extend .banner-item;
    position: relative;
    height: 60%;
  }

  .grid-six-block {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-header-title {
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: baseline;
  }

  .grid-item-content {
    position: absolute;
    padding: 0 20px 0 20px;
    z-index: 1;
  }

  .grid-item-content-text {
    font-size: 3vh;
    line-height: normal;
  }

  .about-title-name {
    margin-left: 5px;
    padding-top: 3px;
    font-size: 1.4vw;
  }

  .slide-founded {
    img {
      height: auto;
      width: auto;
    }
    .grid-item-photo {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 65%;
    }
    .about-vacancies {
      padding: 20px;

      svg {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
    .about-second-block {
      .grid-header-title {
        display: block;
      }
      .about-title-name {
        margin: 0;
        padding: 0;
      }
      .grid-item-photo {
        height: 90%;
      }
    }
    .grid-six-block {
      .grid-header-title {
        display: block;
      }
      .about-title-name {
        margin: 0;
        padding: 0;
        margin-left: 4px;
      }
    }
    .about-thanksgiving-slider {
      display: flex;
      padding: 0px 15px;
      align-content: center;
    }
    .about-thanksgiving {
      display: flex;
      flex: 1;

    }
    .about-thanksgiving-item-container {
      flex: 1;
      height: 6vmax;
      border-radius: 12px;
      margin: 5px;
      padding: 2px;
      background: $about-gradient;

    }
    .about-thanksgiving-item {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background-color: #1a191a;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    .about-thanksgiving-buttons {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .about-thanksgiving-button-left {
      padding: 5px;
      svg {

        stroke: #4ABA88 !important;
      }
    }
    .about-thanksgiving-button-right {
      padding: 5px;
      svg {
        stroke: #4ABA88 !important;
      }
    }

  }


  .slide-own {


    .grid-title {
      .grid-title-text {
        color: white;
      }
      .grid-title-additional-text {
        color: white;
      }
    }
    .about-lines-left {
      height: 100%;
      position: absolute;
      left: 0;
      max-width: 100%;

      svg {
        width: 100%;
        height: 100%;
        stroke-opacity: 0.1;
      }

    }
    .about-lines-right {
      height: 100%;
      position: absolute;
      right: 0;
      max-width: 100%;

      svg {
        width: 100%;
        height: 100%;
        stroke-opacity: 0.1;
      }

    }
    .about-phone-picture {
      position: absolute;
      bottom: -30px;
      left: 50%;
      height: 90%;
      transform: translate(-50%);
      display: flex;
      background-image: url(http://af.afonico-test.ru/assets/images/iPhone.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 60%;
      z-index: 40;
      overflow: hidden;
      padding-top: 56px;
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 30px;

      .phone__items {
        width: 98%;
        height: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow-y: scroll;
        padding: .5rem 2rem 20rem;
        z-index: 900;
      }
      .message {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 2rem;
        pointer-events: none;
      }

      .message__item {

        width: auto;
        height: auto;
        padding: 2.5rem;
        position: relative;
        max-width: 80%;
      }
      .message--right {
        justify-content: flex-end;
      }
      .message--left {
        justify-content: flex-start;
      }
      .message--left .message__item {
        background-color: #afafb0;
        border-radius: 20px 20px 20px 0;
        box-shadow: 9px 6px 14px #f7f7f7;
        padding: 15px;
        &:before {
          content: '';
          position: absolute;
          left: -8px;
          bottom: 0;
          width: 0;
          height: 0;
          border-bottom: 20px solid #afafb0;
          border-left: 20px solid transparent;
        }
      }
      .message--right .message__item {
        background-color: #50AAF0;
        border-radius: 20px 20px 0 20px;
        color: #fff;
        box-shadow: 9px 6px 13px rgb(80 170 240 / 48%);
        padding: 15px;
        &:before {
          left: auto;
          content: '';
          position: absolute;
          bottom: 0;
          width: 0;
          height: 0;
          right: -8px;
          border-left: transparent;
          border-bottom: 20px solid #50AAF0;
          border-right: 20px solid transparent;
        }
      }
    }
    .grid-item-photo {
      height: 100%;
      width: auto;
    }
    .grid-title-additional-text {
      font-size: 26px;
      padding-top: 5px;
      padding-left: 20px;
    }
    .grid-item-icon {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    .grid-fifth-block {

      .grid-item-icon {
        top: 0;
        right: 0;
        height: 100%;
        svg {
          height: 100%;
          fill: none;
          width: 100%;
        }
      }
    }
    .grid-six-block {
      .grid-header-title {
        display: block;
      }
      .about-title-name {
        margin: 0;
        padding: 0;
        margin-left: 4px;
      }
    }
  }
}

.about-header {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-header-link {
  font-size: 40px;
  height: 1.1em;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $about-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-header-text {
  padding-left: 5px;
  font-size: 1.4vw;
  line-height: normal;
}
