$blog-yellow-color: #FC9C3E;
.blog {
  display: flex;
  flex-wrap: wrap;
}

.blog-item-container {
  width: calc(100% / 3);
  padding: 5px;
  height: 50%;
}
.blog-item {
  @extend .grid-item;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.blog-button {
  @extend .grid-image-button;
  display: flex;
  margin: 40px 20px;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.blog-button-text {
  font-size: 1.3vw;
  font-family: "Segoe UI";
  background: $blog-yellow-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.blog-header-title {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.blog-header-title-icon {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;

  svg {
    width: 40px;
    height: 40px;
  }
}

.blog-header-title-text {
  font-size: 34px;
  font-family: "Segoe UI";
  background: linear-gradient(to right, #F2DF50, #FDC04B, #FC9D3F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-back.blog, .footer-next.blog {
  svg {
    stroke: $blog-yellow-color !important;
  }
}
