
$blog-yellow-color: #FC9C3E;
$contact-gradient: linear-gradient(to top right, #415AA6, #E03D9E);

.grid.contact {
  display: flex;
  flex-direction: row;
}

.contacts {
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-size: 3vw;
    font-weight: bold;
    text-transform: none;
    background: $contact-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    min-height: 6.4vh;
  }
  h1 {
    min-height: 6.4vh;
  }

  .contacts-item-container {
    width: calc(100% / 3);
    padding: 5px;
    height: 50%;
  }
  .contacts-item {
    @extend .grid-item;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .contacts-item.item-map {
    padding: 0;
  }

  .contacts-item-field-icon {
    width: 3.1vw;
    height: 3.1vh;
    padding-right: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .contacts-item-field-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3vw;
    line-height: 1.9em;
  }
  .contacts-item-phone {
    margin-top: 2vh;
    display: flex;
    align-items: center;
  }
  .contacts-item-mail {
    margin-top: 2vh;
    display: flex;
    align-items: center;
  }
  .contacts-item-address {
    margin-top: 2vh;
    display: flex;

    .contacts-item-field-icon {
      margin-top: 2px;
    }
  }

  .contacts-item-flag {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25%;
    width: 20%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .contacts-item-flag.moscow {
    width: 50%;
    bottom: 20px;
    height: auto;
    top: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .contacts-item-flag.bridge {
    width: 33%;
  }

  .selected-city {
    h1 {
      padding: 0;
    }
    .contacts-item {
      background: $contact-gradient;
    }
    .contacts-item-field-text {
      color: white;
    }
    .contacts-item-flag, .contacts-item-field-icon {
      svg {
        stroke: white;
      }
    }
  }

  .contacts-request-content {
    padding-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;

  }

  .contacts-request-content-inputs {
    width: 70%;
    padding-bottom: 26px;

    input {
      WIDTH: 100%;
      BACKGROUND: transparent;
      font-size: 2vh;
      border: 0;
      padding: 8px 0;
      color: #AACD6B;
    }

    .input-break {
      width: 100%;
      height: 1px;
      background: $contact-gradient;
    }
  }

  .contacts-request-content-sent-button {
    height: 5vh;
    width: 26%;
    min-width: 80px;
    margin-left: 31px;

    button {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      font-size: 1.2vw;
      border: 0;
      background: $contact-gradient;
      color: white;
    }
  }

  .request-checkbox {

  }
}



.contacts-header-title {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}

.contacts-header-title-text {
  font-size: 38px;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $contact-gradient;//linear-gradient(to right, #F2DF50, #FDC04B, #FC9D3F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


