$development-gradient: linear-gradient(to top right, #F71B1A, #F94865);
$development-color: #F71B1A;


.footer-back.development, .footer-next.development {
  svg {
    stroke: $development-color !important;
  }
}
.development {

  h2 {
    font-size: 3vw;
    font-weight: bold;
    text-transform: none;
    background: $development-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  h1 {
    padding: 20px 20px 0 20px;
    font-weight: bold;
    font-size: 3.8vw;
    color: white;
    display: table-caption;
    line-height: 1.3em;
    font-family: sans-serif;
  }
  .grid-sites {
    @extend .banner-item;
    position: relative;
    height: 60%;
  }
  .grid-sites-header {
    padding: 20px;
  }
  .grid-sites-list {
    list-style: disc;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 2vh;
    padding-left: 20px;
    padding-bottom: 70px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-sites-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 25%;
    height: 25%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-landing {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-landing-header {
    padding: 20px;
  }
  .grid-landing-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 1.9vh;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-landing-picture {
    position: absolute;
    height: 100%;
    max-width: 50%;
    right: 0;
    top: 0;

    img {
      height: 100%;
      width: auto;
    }
  }

  .grid-title {
    @extend .banner-item;
    position: relative;
    height: 70%;

    .grid-container {
      background: $development-gradient;
    }
  }
  .grid-title-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 5vw;
    height: 11vh;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-commerce {
    @extend .banner-item;
    position: relative;
    height: 30%;
  }
  .grid-commerce-header {
    padding: 20px;
  }
  .grid-commerce-list {
    list-style: disc;
    height: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 2vh;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-commerce-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 15%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-services {
    @extend .banner-item;
    position: relative;
    height: 41%;
  }

  .grid-services-header {
    padding: 20px 20px 15px 20px;
  }
  .grid-services-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 2vh;
    line-height: 0.6;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-services-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22%;
    height: 49%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-examples {
    @extend .banner-item;
    position: relative;
    height: 59%;
  }

  .grid-examples-header {
    padding: 20px 20px 15px 20px;
  }
  .grid-examples-text {
    position: relative;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 1.3vw;
    line-height: 1.5em;
  }
  .grid-examples-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);

    svg {
      stroke: $development-color;
    }
  }

  .grid-title-text {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5vw;
    line-height: 1.3em;
    max-width: 80%;
    color: white !important;
  }
  .ui-tabs-nav {
    display: flex;
  }
  .tabs-splitter {

    padding-left: 10px;
    font-size: 28px;
    font-weight: bold;
    text-transform: none;
    background: linear-gradient(to top right, $development-color, #F94865);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  .ui-tabs-active {
    .development-footer-technologies-title {
      border-bottom: 1px solid $development-color;
    }
  }
}

.development-header {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.development-header-link {
  font-size: 38px;
  height: 1.1em;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $development-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.development-header-file {
  margin-left: 10px;
}

.development-footer-technologies {
  flex-direction: column;
  z-index: 1;
}
.development-footer-technologies-title {
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: none;
  background: $development-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  line-height: normal;

}
.development-footer-technologies-list {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.development-footer-technologies-line {
  margin-left: 12px;
  width: 21%;
  height: 1px;
  background-color: #F94865;
}

.development-footer-technologies-list-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 25px;
}

.hidden-item-title {
  padding-bottom: 5px;
  font-weight: 600;
}

.footer.development {
  z-index: 0;
  .footer-partners {
    background-color: transparent;
    pointer-events : none;
    z-index: 0;
  }
}
.footer-development {
  height: 105px;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;

  .footer-map {
    background-color: transparent !important;
  }
  .footer-back {
    background-color: transparent !important;
  }
  .footer-next {
    background-color: transparent !important;
  }
  .footer-tea {
    background-color: transparent !important;
  }
}

.development-slider-body {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  min-height: 1vh;
  padding-bottom: $header-footer-height;
}

.grid.development {
  padding-bottom: 0;
}
