.footer {
  width: 100%;
  height: $header-footer-height;
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 0 $grid-padding-size $grid-padding-size $grid-padding-size;
}
.footer-item {
  margin: $grid-padding-size;
}

.footer-button {
  @extend .button;
  cursor: pointer;
  width: 90px;
  height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-map {
  @extend .footer-button;
  @extend .grid-item;
  @extend .footer-item;
  position: relative;
  z-index: 100;
  svg {
    width: 100%;
    height: 100%;
  }
}

.footer-partners {
  flex: 1;
  @extend .grid-item;
  @extend .footer-item;
  display: flex;
  height: 90px;
  padding: 10px;
  margin-left: 105px;
  margin-right: 305px;

  .footer-partners-partner {
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;

    img {
      max-width: 100%;
      max-height: 100%;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}


.footer-back {
  @extend .footer-button;
  @extend .grid-item;
  @extend .footer-item;

  svg {
    stroke: $pink-arrow-color !important;
    fill: $pink-arrow-color !important;
  }
}

.footer-next {
  @extend .footer-button;
  @extend .grid-item;
  @extend .footer-item;

  svg {
    stroke: $pink-arrow-color !important;
    fill: $pink-arrow-color !important;
  }

}
.footer-tea {
  @extend .footer-button;
  @extend .grid-item;
  @extend .footer-item;
  position: relative;
}

.footer-map {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.footer-tea {

  position: absolute;
  right: 5px;
  bottom: 5px;
}

.footer-back {
  display: flex;
  opacity: initial;
  position: absolute;
  right: 205px;
  bottom: 5px;
}
.footer-next {
  display: flex;
  opacity: initial;
  position: absolute;
  right: 105px;
  bottom: 5px;
}

.footer-map-menu {
  display: none;
  width: 300px;
  position: absolute;
  bottom: 100%;
  left: 0;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
}

.footer-map-menu-item {
  @extend .button;
  @extend .menu-element;
  background-color: $block-color-dark;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 16px;
}

.selected-map-menu {
  .footer-map-menu {
    display: block;
  }
}

.footer-map-menu a:not(last-of-type)  {
  border-bottom: 1px solid $bg-color-dark;
}
.footer-tea-chat {
  position: absolute;
  bottom: 100%;
  height: 100%;
  right: 0;
  display: none;
  width: 400px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  padding: 20px;
  overflow: hidden;
  background-color: $block-color-dark;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-size: 22px;
}

.selected-chat-menu {
  .footer-tea-chat {
    display: flex;
  }
}

.footer-tea.selected-chat-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer-map.selected-map-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.icon-moscow, .icon-usa, .icon-tumen, .icon-piter, .icon-sevastopol, .icon-dublin {
  margin-right: 20px;
  svg {
    fill-opacity: 0;
  }
}
