.header {
  display: flex;
  position: fixed;
  z-index: 1;
  padding: $grid-padding-size $grid-padding-size 0 $grid-padding-size;
  width: 100%;
  height: $header-footer-height;
  border-radius: $border-radius;
}

.header-item {
  margin: $grid-padding-size;
}

.break-element {
  background-color: transparent;
}

.header-menu-block {
  background-color: $block-color-dark;
}
.header-menu {
  @extend .header-item;
  width: 105px;
  position: relative;
  width: 33%;
  display: flex;

  .burger-menu {
    @extend .header-menu-block;
    @extend .button;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    svg {
      width: 30px;
      height: 100%;
    }

    .burger-menu-svg {
      stroke: none !important;;
    }
  }

  .menu-break {
    width: 2px;
    height: 100%;
    @extend .break-element;
  }

  .menu-logo {
    @extend .header-menu-block;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    svg {
      stroke: none !important;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .menu-lang {
    display: flex;
    flex-direction: column;

    .menu-lang-button {
      @extend .header-menu-block;
      flex: 1;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: $text-hover-color;
      }
    }

    .menu-lang-breaker {
      @extend .break-element;
      height: 2px;
    }
  }

  .menu-theme {
    display: flex;
    flex-direction: column;

    .menu-theme-button {
      @extend .header-menu-block;
      flex: 1;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        svg {
          fill: $text-hover-color;
          stroke: $text-hover-color;
        }
      }
    }

    .menu-theme-top-button {
      @extend .menu-theme-button;
      border-top-right-radius: $border-radius;
      width: 40px;
    }
    .menu-theme-bottom-button {
      @extend .menu-theme-button;
      width: 40px;
      border-bottom-right-radius: $border-radius;
    }

    .menu-theme-breaker {
      @extend .break-element;
      height: 2px;
    }
  }

  .header-contacts-break {
    display: none;
  }
  .header-contacts-phone {
    display: none;
  }
}

.header-themes-block {
  display: flex;
  align-items: center;
  background-color: $block-color-dark;


  .header-themes-text {
    @extend .button;
    padding: 10px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 10px;
      fill: none;
    }
  }

  .header-themes-text-break {
    height: 38px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}



.header-themes {
  @extend .header-item;
  display: flex;
  flex-direction: column;
  width: 33%;

  .header-themes-top {
    @extend .header-themes-block;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .header-themes-bottom {
    @extend .header-themes-block;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .header-themes-break {
    height: 2px;
  }
}

.header-contacts {
  @extend .header-item;
  position: relative;
  width: 33%;
  display: flex;
  z-index: 1;

  &:hover {
    overflow: inherit;

    .header-contacts-blog {
      border-bottom-left-radius: 0;
    }
  }
}

.header-contacts-break {
  width: 2px;
  height: 100%;
  background-color: transparent;
}

.header-contacts-blog {
  @extend .header-menu-block;
  flex: 1;
  display: flex;
  padding: 12px;
  flex-direction: column;
  overflow: auto;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  /*&:hover {
    height: 80vh;
    overflow: auto;
  }*/


  .header-contacts-author {
    display: flex;
  }

  .header-contacts-author-name {
    padding-right: 20px;
  }

  .header-contacts-author-date {
    padding-right: 20px;
  }

  .header-contacts-author-icon {
    svg {
      fill: none;
    }
  }
  .header-contacts-author-text {
    padding-top: 8px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    height: 44px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.header-contacts-phone {
  @extend .button;
  @extend .header-menu-block;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &:hover {
    border-bottom-right-radius: 0;
    .header-menu-contact {
      display: block;
    }
  }
}

.dropdown-contacts {
  cursor: pointer;
  display: flex;
  width: 68px;
  padding: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 12px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.timeline-Header {
  display: none !important;
}

.header-menu-contact {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
}

.phone-number {
  width: 100%;
  display: flex;
  text-align: center;
  margin-right: 0;
  height: 90px;
  font-size: 2em;
  line-height: 1;
  transition: .2s linear;
  margin-top: 1px;
  position: relative;

  &:after {
    content: "\e902";
    font-family: icomoonNetwork;
    width: 50px;
    height: 90px;
    position: absolute;
    top: 0;
    font-size: 1em;
    padding-top: 30px;
    box-sizing: border-box;
    cursor: pointer;
    border-right: 1px solid $bg-color-dark;
  }
}

.phone-number-text {
  @extend .menu-element;
  @extend .contact-menu-item;
  @extend .button;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-number-mobile {
  @extend .phone-number;

  &:after {
    content: "\e907";
  }
}

.small-social-icon-link {
  @extend .menu-element;
  display: block;
  width: calc(25% - 1px);
  height: 60px;
  line-height: 1;
  margin-top: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-social-icon-link {
  @extend .menu-element;
  display: block;
  width: calc(50% - 1px);
  height: 110px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  width: 100%;
  grid-gap: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-menu-main {
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  top: 90px;
  margin-top: 1px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
  transition-delay: 1s;
}

.header-menu-main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 1px;
  height: 340px;
}

.header-menu-main-item-small {
  @extend .button;
  @extend .menu-element;
  width: 50%;
  display: flex;
  height: calc(16.666% - 1px);
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.header-menu-main-item-big {
  @extend .button;
  @extend .menu-element;
  font-size: 34px;
  display: flex;
  width: 50%;
  height: calc(33.33% - 1px);
  align-items: center;
  justify-content: center;

  .header-menu-main-item-link {
    flex-direction: column;
  }
  .menu-icon {
    margin-right: 0px;
    padding: 10px;
    width: 50px;
  }
}

.header-menu-main-item-link {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.menu-icon {
  color: white;
  font-size: 30px;
  width: 30px;
  margin-right: 30px;
  padding: 20px;
}

.social-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.icomoonNetwork-youtube {
  font-size: 40px;
  width: 52px;
  height: 40px;
}
.icomoonNetwork-facebook {
  font-size: 40px;
  width: 15px;
  height: 40px;

}
.selected-menu {
  .burger-menu {
    border-bottom-left-radius: 0;
    color: white;
    background-color: $block-color-dark;
  }

}


.social-links {
  .icon-twitter {
    &:hover {
      background-color: #1da1f2!important;
    }
  }

  .icon-facebook {
    &:hover {
      background-color: #3b5998!important;
    }
  }

  .icon-youtube {
    &:hover {
      background-color: #e62117!important;
    }
  }

  .icon-vk {
    .icomoonNetwork-vk {
      width: 50px;
    }
    &:hover {
      background-color: #507299!important;
    }
  }

  .icon-whatsapp {
    &:hover {
      background-color: #25D366!important;
    }
  }

  .icon-instagram {
    &:hover {
      background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
    }
  }
}
