.grid {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: $header-footer-height $grid-padding-size $header-footer-height $grid-padding-size;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
}

.show {
  display: block !important;
}

.grid-item {
  border-radius: $border-radius;
}

.gradient-text {
  font-size: 2.9vw;
  font-weight: bold;
  text-transform: uppercase;
  background: $pink-gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-addition-text {
  margin-left: 5px;
}

.grid-container {
  @extend .grid-item;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banner-item {
  width: calc(100% / 3);
  padding: $grid-padding-size;
}

.grid-design {
  @extend .banner-item;
  position: relative;
  height: 60%;
}

.grid-marketing {
  @extend .banner-item;
  height: 70%;
  color: white !important;

  .grid-container {
    background: $gradient-hover;
  }
  .title {
    padding: 20px;
    font-weight: bold;
    font-size: 3.8vw;
  }
  .text {
    padding: 0px 20px;
    font-weight: normal;
    font-size: 2.1vw;
  }
  .light-plum {
    width: 18%;
    position: absolute;
    top: 20px;
    right: 20px;
    svg {
      stroke: white !important;

      width: 100%;
      height: 100%;
    }
  }
}


.grid-design {
  .grid-container {
    width: 100%;
    padding: 20px;
  }

  .grid-design-text {
    padding-top: 20px;
    padding-left: 5px;
    font-size: 1.8vw;
  }
  .grid-design-header {
    .title {
      @extend .gradient-text;
    }
  }
  .grid-designer-banner {
    display: flex;
    padding-top: 30px;

    .grid-designer-example-container {
      flex: 1;
      width: 8vmax;
      height: 8vmax;
      border-radius: $border-radius;
      margin: 5px;
      padding: 2px;
      background: linear-gradient(to top, #D24C63, #F29F63);
      svg {
        fill: none;
        width: 100%;
        height: 100%;
      }
    }
    .grid-designer-example {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      background-color: $block-color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }
}


.grid-web {
  @extend .banner-item;
  height: 40%;

  .grid-container {
    position: relative;
    overflow: hidden;
  }

  .web-background-lines {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    svg {
      width: auto;
      fill: none !important;
      stroke: none !important;
      height: 100%;
    }
  }

  .grid-web-header {
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: baseline;
    font-size: 1.4vw;

    .title {
      @extend .gradient-text;
    }
  }
  .grid-web-list {
    padding: 15px;
    font-size: 1.3vw;
    ul {
      list-style: disc;
      li {
        margin-left: 30px;
        margin-bottom: 1em;
      }
    }
  }
}

.grid-breess {
  @extend .banner-item;
  height: 65%;

  .grid-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .grid-breess-button {
    display: flex;
    margin: 40px 20px;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-color: $block-color-dark;
    border-radius: $border-radius;

    .grid-breess-button-text {
      font-size: 1.3vw;
      font-family: "Segoe UI";
      background: linear-gradient(to top, #D14F63, #E98863
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .grid-breess-button-icon {
      position: absolute;
      right: 20px;
      height: 50%;

      svg {
        fill: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}



.grid-app {
  position: relative;
  @extend .banner-item;
  height: 30%;

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-app-header {
    display: flex;
    padding: 20px;
    align-items: baseline;
    font-size: 1.4vw;

    .title {
      @extend .gradient-text;
    }
  }

  .grid-app-content {
    font-size: 2vw;
    flex: 1;
    padding: 0 20px 30px 20px;
    display: flex;

    .grid-app-content-text {
    }
    .grid-app-content-icons {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 45%;
      height: 50%;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
.grid-seo {
  position: relative;
  @extend .banner-item;
  height: 35%;

  .grid-seo-header {
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: baseline;
    font-size: 1.4vw;

    .title {
      @extend .gradient-text;
    }
  }

  .grid-seo-content {
    padding: 20px;
    font-size: 1.7vw;

    li {
      margin-bottom: 1em;
    }
  }

  .rocket {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 6vw;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.grid-partners {
  display: none;
  padding: 5px;

  .grid-partners-list {
    @extend .grid-container;
    display: flex;
    flex-wrap: wrap;

    .grid-partners-list-item {
      padding: 20px;
      width: 50%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.grid-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  grid-gap: 10px;

  svg {
    stroke: $pink-arrow-color !important;
    fill: $pink-arrow-color !important;
  }

  .grid-partners-button-left {
    border-radius: $border-radius;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: $pink-gradient-color;
  }

  .grid-partners-button-right {
    border-radius: $border-radius;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: $pink-gradient-color;
  }
}

.timeline-Widget {
  border-radius: 0 !important;
}

.arrow {
  cursor: pointer;
  @extend .gradient-text;
}

.rocket-fire {
  stroke: #A92A95;
  animation: background 1s infinite alternate;
}

@keyframes background {
  100% {
    stroke: #E02070;
    box-shadow: 0 -140px 70px -120px #A92A95 inset,
    0 -210px 70px -120px #E02070 inset,
    0 -280px 70px -120px #black inset;
  }
}


.request-checkbox {
  .request-checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .request-checkbox-input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .request-checkbox-input+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на checkbox */
  .request-checkbox-input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .request-checkbox-input:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для чекбокса, находящегося в фокусе */
  .request-checkbox-input:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .request-checkbox-input:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .request-checkbox-input:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
}


