@media only screen and (device-width: 768px) {
  /* general iPad */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* portrait layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* landscape layouts */
}

@media only screen and (max-width: 1150px) {
  .header-themes {
    display: none;
  }

  .blog-header-title {
    display: none;
  }
  .header-contacts {
    flex: 1;
  }
  .header-menu {
    flex: 1;
  }

  .grid-designer-example {
    padding: 10px !important;
  }

  .footer-partners-partner {
    padding: 10px !important;
  }
  .footer-map-menu-item {
    padding: 13px;
  }

  .development-footer-technologies-title {
    font-size: 19px;
  }
  .about {
    .about-header-title {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  html {
    overflow: auto;
  }
  body {
    overflow: auto;
  }

  .header {
    .header-menu {
      .menu-logo {
        padding: 10px;
      }
      .menu-theme-top-button, .menu-theme-bottom-button {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .header-contacts-break {
        display: block;
      }
      .header-contacts-phone {
        display: block;
      }
    }
  }

  .footer {
    position: fixed;
  }
  .header-contacts {
    display: none;
  }

  .container {
    overflow: auto;
  }

  .grid {
    flex-wrap: inherit;
    height: auto;
    padding: 80px 5px 80px 5px;

    .banner-item {
      width: 100%;
    }
    .grid-container {
      .title {
        font-size: 10vw;
        line-height: 1.3em;
      }
      .text {
        font-size: 5vw;
        margin-bottom: 30px;
        line-height: 1.3em;
      }
    }


    .grid-breess {
      .grid-container {
        height: 100vw;
      }

      .grid-breess-button-text {
        font-size: 4.2vw;
        font-weight: 600;
      }
    }

    .grid-designer-banner-button-right {
      position: absolute;
      width: 50px;
      padding: 0;
      display: flex;
      top: 20px;
      right: 20px;
    }
    .grid-designer-banner-button-left {
      position: absolute;
      width: 50px;
      padding: 0;
      display: flex;
      top: 20px;
      right: 70px;
    }

    .grid-designer-example-container {
      width: auto;
      height: 25vw !important;
      flex: 1;
    }
    .grid-designer-banner {
      padding-bottom: 10px;

    }

    .grid-partners {
      display: block;
    }
  }

  .grid-seo .rocket {
    top: 50px;
    width: 16vw;
  }
  .header-addition-text {
    font-size: 5vw;
  }
  .banner-item {
    width: 100%;
  }

  .header-menu {
    width: 100%;
  }
  .grid-marketing {
    order: 1;
  }
  .grid-partners {
    order: 6;
  }
  .grid-design {
    order: 2;
  }
  .header-themes {
    display: none;
  }
  .blog-header-title {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .grid-breess {
    order: 7;
  }
  .grid-web {
    order: 3;
  }
  .grid-app {
    order: 4;
  }
  .grid-seo {
    order: 5;
  }
  .grid-footer {
    order: 6;
  }

  .footer {
  }
  .footer-next {
    display: none;
  }
  .footer-back {
    display: none;
  }
  .footer-partners {
    display: none;
  }
  .footer-tea {
    margin-left: auto;
  }
  h1 {
    font-size: 13vw !important;
  }
  h2 {
    font-size: 10vw !important;
    line-height: 1.3em;
  }

  .header-menu-main-item-link {
    font-size: 24px;
  }

  .header {
    height: 80px;
    .header-menu-main {
      top: 65px;
    }
  }

  .footer-map {
    position: fixed;
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  .footer-tea {
    position: fixed;
    width: 60px;
    height: 60px;
    padding: 10px;
  }


  .footer-back {
    position: fixed;
  }
  .footer-next {
    position: fixed;
  }

  .footer-tea-chat {
    height: auto;
    width: calc(100vw - 20px);
  }
  .footer-map-menu {
    height: auto;
    width: calc(100vw - 20px);
    max-height: 50vh;
    overflow: auto;
  }
  .footer-map-menu-item {
    padding: 10px;
  }

  .portfolio-item-container {
    width: 100% !important;
    height: 90vw !important;
  }
  .portfolio-button-text{
    font-size: 4.2vw !important;
    font-weight: 600 !important;
  }
  .blog-item-container {
    width: 100% !important;
    height: 90vw !important;
  }
  .contacts {
    .contacts-item-container {
      width: 100% !important;
    }
    .contacts-item-field-icon {
      width: 10.1vw;
      height: 8.1vh;
      padding-right: 20px;
    }
    .contacts-item-field-text {
      font-size: 4.3vw;
    }
    .contacts-item-address {
      margin-bottom: 20px;
    }
    .contacts-item-container {
      order: 2;
    }
    .selected-city {
      order: 1;
    }
  }
  .dropdown-contacts {
    padding: 15px;
  }

  .development {
    h1 {
      font-size: 11vw !important;
    }

    .grid-title {
      order: -1;
      height: auto;

      .grid-container {
        height: 90vw;
        min-height: 350px;
      }
    }
    .grid-title-icon {
      width: 11vw;
    }

    .grid-examples-text {
      font-size: 4.5vw;
    }
  }

  .webdesign {
    .grid-title {
      order: -1;
    }
    .webdesign-logotypes {
      .grid-logotypes-example {
        padding: 10px !important;
      }
    }
    .grid-title-icon {
      width: 19vw !important;
      height: 7vh !important;
    }
    .grid-project {
      .grid-container {
        height: 100vw;
      }
      .grid-project-button-text {
        font-size: 4.3vw !important;
      }
    }
    .grid-request-content-sent-button {
      button {
        font-size: 3.2vw !important;
      }
    }

    .grid-catalog-list, .grid-3d-list {
      font-size: 3vh !important;
    }
    .grid-logotypes-example-container {
      height: 24vw !important;
    }
    .grid-request {
      height: 40vh !important;
    }
  }

  .price-body {
    padding: 85px 10px 85px 10px !important;
  }
  .price-body .price-body-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .price-body .price-body-price-list {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .promotions {
    .grid-title {
      .grid-container {
        height: 90vw;
      }
      order: -1;
    }

    .grid-title-icon {
      width: 18vw !important;
      height: 9vh !important;
    }

    button {
      font-size: 3.2vw !important;
    }
  }

  .about {
    .grid-title {
      .grid-container {
        height: 80vw;
      }
      order: -1;
    }
    .grid-container {
      min-height: 50vw;
    }
    .grid-six-block {
      h2 {
        font-size: 8vw !important;
      }
      .about-thanksgiving-item-container {
        height: auto !important;
      }
    }
    .about-fourth-block {
      order: 1;
    }
    .about-slider-body {
      height: auto !important;
    }
    .about-header-title {
      height: 80px;
    }
    .grid-title-text {
      font-size: 3vh !important;
    }


  }
  .slick-arrow {
    width: 60px;
    height: 60px;
    display: flex;
  }
  .about .about-title-name {
    font-size: 4.4vw !important;
  }
  .about .grid-item-content-text {
    font-size: 4vh;
  }

  .development .grid-sites-list {
    font-size: 3vh;
    height: 43vh;
  }
  .development .grid-landing-list {
    font-size: 3vh;

  }
  .development .grid-commerce-list {
    font-size: 3vh;
    height: 25vh;
  }
  .development .grid-services-list {
    font-size: 3vh;
  }

  .development .grid-title-text {
    font-size: 3vh;
  }

  .webdesign .grid-title-text {
    font-size: 3vh !important;
  }
  .promotions .grid-title-text {
    font-size: 3vh !important;
  }
  .promotions .grid-project {
    height: 65vh !important;
  }

  .promotions .grid-request {
    height: 40vh !important;
  }

  .contacts .contacts-item-field-icon {
    height: auto;
  }
  .contacts-item-container.three{
    height: 50vh;
    order: 3;
  }
  .contacts-item-container.four {
    height: 50vh;
    order: 2;
  }
  .contacts-item-container.two {
    order: 1;
  }
  .contacts-item-container.five {
    order: 4;
  }
  .contacts-request-content-sent-button {
    button {
      font-size: 3vw !important;
    }
  }
  .footer-development {
    display: none;
  }
  .development-slider-body {
    padding-bottom: 75px;
  }
}


@media only screen and (max-width: 460px) {
  .header-menu-main-item-link {
    font-size: 16px;
  }
}
