.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item-container {
  width: calc(100% / 3);
  padding: 5px;
  height: 50%;
}
.portfolio-item {
  @extend .grid-item;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.portfolio-button {
  @extend .grid-image-button;
  display: flex;
  margin: 40px 20px;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  border-radius: $border-radius;
}

.portfolio-button-text {
  font-size: 1.3vw;
  font-family: "Segoe UI";
  background: linear-gradient(to top, #D14F63, #E98863
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-button-icon {
  position: absolute;
  right: 20px;
  height: 50%;
  display: flex;
  align-items: center;
}
