$price-gradient: linear-gradient(to right, #075693, #2A91E2);
$price-button-color: #075693;;



.footer-back.price, .footer-next.price {
  svg {
    stroke: $price-button-color !important;
  }
}

.price-body {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 110px 10px 110px 10px;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  .price-body-price-list-scrollable::-webkit-scrollbar {
    width: 10px;
  }

  .price-body-price-list-scrollable::-webkit-scrollbar-track {
    background-color: rgba(7, 86, 147, 0.5);
    border-radius: 5px;
  }

  .price-body-price-list-scrollable::-webkit-scrollbar-thumb {
    background-color: #075693;
    border-radius: 5px;
    //outline: 1px solid slategrey;
  }

  .grid-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 2.9vw;
    font-weight: bold;
    text-transform: none;
    background: $price-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  h1 {
    padding: 20px;
    font-weight: bold;
    font-size: 3.8vw;
    color: white;
    display: table-caption;
    line-height: 1.3em;
    font-family: sans-serif;
  }

  .price-body-header {
    display: flex;
    align-items: flex-end;
    padding: 10px 100px 30px 100px;

    h2 {
      padding-left: 20px;
    }
  }
  .price-body-price-list {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    flex: 1;
    padding-bottom: 40px;
    overflow: auto;
  }
  .price-body-price-list-scrollable {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .price-body-price-list-item {
    margin-bottom: 10px;
    border-radius: $border-radius;
    overflow: hidden;
    height: 5.6vw;
    font-size: 2.3vh;
    margin-right: 20px;
    border: 2px solid $price-button-color;
    background: $price-gradient;
  }
  .price-body-price-list-item-content {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: $block-color-dark;
    &:hover {
      background: $price-gradient;
      color: white !important;
    }
  }
  .price-body-price-list-item-cost {
    margin-left: auto;
  }

}

.price-header {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price-header-link {
  font-size: 38px;
  height: 1.1em;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $price-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-partners.price-footer {
  background: transparent !important;
  padding: 0;
  flex-direction: column;
}



.price-footer {
  .footer-themes-break {
    height: 2px;
    width: 100%;
  }
  .footer-themes-top {
    @extend .header-themes-block;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
    display: flex;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .footer-themes-bottom {
    @extend .header-themes-block;
    cursor: pointer;
    overflow: hidden;
    flex: 1;
    display: flex;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .footer-themes-text-break {
    height: 38px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-themes-text{
    padding: 10px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    svg {
      height: 100%;
    }
  }
}
