$promotions-gradient: linear-gradient(to top right, #FFB691, #DE581B);
$promotions-color: #F49669;


.footer-back.promotions, .footer-next.promotions {
  svg {
    stroke: $promotions-color !important;
  }
}
.promotions {

  h2 {
    font-size: 2.8vw;
    font-weight: bold;
    text-transform: none;
    background: $promotions-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  h1 {
    padding: 20px 20px 0 20px;
    font-weight: bold;
    font-size: 3.8vw;
    width: 50%;
    color: white;
    display: table-caption;
    line-height: 1.2em;
    font-family: sans-serif;
  }

  .request-checkbox {
    padding: 0 20px;
  }
  .promotions-seo {
    @extend .banner-item;
    position: relative;
    height: 60%;
  }
  .grid-seo-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-seo-text {
    padding: 0 20px 20px 20px;
    width: 80%;
    font-size: 1.2vw;
    line-height: normal;
  }
  .grid-seo-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .promotions-ad {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }
  .grid-ad-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-ad-text {
    padding: 0 20px 20px 20px;
    width: 80%;
    font-size: 1.3vw;
    line-height: normal;
  }
  .grid-ad-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .promotions-smm {
    @extend .banner-item;
    position: relative;
    height: 30%;
  }
  .grid-smm-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-smm-text {
    padding: 0 20px 20px 20px;
    width: 80%;
    font-size: 1.1vw;
    line-height: normal;
  }
  .grid-smm-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-title {
    @extend .banner-item;
    position: relative;
    height: 70%;

    .grid-container {
      background: $promotions-gradient;
    }
  }
  .grid-title-text {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5vw;
    line-height: 1.1em;
    max-width: 80%;
  }
  .grid-title-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 7vw;
    height: 11vh;
    svg {
      width: 100%;
      height: 100%;
      stroke: white;
    }
  }
  .grid-catalog {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-3d {
    @extend .banner-item;
    position: relative;
    height: 30%;
  }
  .grid-catalog-header, .grid-3d-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-catalog-list, .grid-3d-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 2vh;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-catalog-icon, .grid-3d-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-project {
    @extend .banner-item;
    position: relative;
    height: 63%;

    .grid-container {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  .grid-project-button {
    position: absolute;
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .grid-request {
    @extend .banner-item;
    position: relative;
    height: 37%;
  }

  .grid-request-header {
    padding: 20px 20px 0px 20px;
  }

  .grid-request-content {
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .grid-request-content-sent-button {
    height: 5vh;
    width: 26%;
    min-width: 80px;
    margin-left: 31px;

    button {
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
      font-size: 1.2vw;
      border: 0;
      background: linear-gradient(to right, #F39E64, #DC5C04);;
      color: white;
    }
  }
  .grid-request-content-inputs {
    width: 70%;
    padding-bottom: 15px;

    input {
      WIDTH: 100%;
      BACKGROUND: transparent;
      font-size: 1.9vh;
      border: 0;
      padding: 8px 0;
      color: $promotions-color;
    }
    .input-break {
      width: 100%;
      height: 1px;
      background: $promotions-gradient;
    }
  }
}

.promotions-header {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promotions-header-link {
  font-size: 40px;
  height: 1.1em;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $promotions-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.promotions-header-text {
  padding-left: 10px;
  font-size: 14px;
  line-height: normal;
}
