$bg-color-dark: #242424; //
$block-color-dark: #1a191a; // #f3f3f3
$text-color-dark: white; //#326fa1

$bg-color-light: #ffffff;
$block-color-light: #f3f3f3;
$text-color-light: #105791;


$grid-padding-size: 5px;
$border-radius: 12px;
$text-hover-color: #EA8963;
$header-footer-height: 105px;

$pink-arrow-color: #AB2890;
$pink-gradient-color: linear-gradient(to top, $pink-arrow-color, #D82173);
$gradient-hover: linear-gradient(to top left, #D14F63, #F39E64);

$bg-color: #242424;
$block-color: #1a191a;
$text-color: white;
$text-hover-color-common: white;
$block-hover-color: #EA8963;

.button {
  color: white;
  &:hover {
    background-color: $text-hover-color;
    svg {
      fill: black;
      stroke: black;
    }
  }
}

.menu-element {
  background-color: $block-color-dark;
  color: white;
  opacity: 0.91;
}

@import 'main', 'header', 'footer', 'themes', 'fonts';
@import 'portfolio';
@import 'blog';
@import 'contacts';
@import 'development';
@import 'mobile';
@import 'webdesign';
@import 'price';
@import 'promotions';
@import 'about';



*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //transition: .5s ease-in-out;
  /* добавим плавность переходов для всех элементов страницы*/
  transition: .2s linear;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
img {
  display: block;
  width: 100%;
  max-height: 100%;
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: hidden;
  font-family: 'Segoe UI Light', sans-serif;
  min-height: 0!important;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  border: 0;
  margin: 0;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  width: 100%;
}

h1 {
  padding: 20px;
  font-weight: bold;
  font-size: 4.2vw;
  color: white;
  display: table-caption;
  font-family: sans-serif;
}

h2 {
  font-size: 2.9vw;
  font-weight: bold;
  text-transform: uppercase;
  background: $pink-gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

.typed-text {display:none;}
.typed-text .new{opacity: 0;}
.typed-text .div_opacity{
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;}




.tooltip {
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  .hidden-item {
    opacity: 0;
    position: absolute;
    width: 20rem;
    height: auto;
    padding: 1rem;
    left: -10px;
    color: #fff;
    background-color: #5da1d6;
    bottom: 40px;
    border-radius: 10px;
    pointer-events: none;
    font-size: 1.4rem;
    line-height: 1.2;
    z-index: 300;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover {
    .hidden-item {
      opacity: 1;
    }
  }
}


.slider-container {
  width: 100%;
  height: 100%;
}

.slider-item {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
