
.container.dark {
  background-color: $bg-color-dark;

  svg {
    fill: $text-color-dark;
    stroke: $text-color-dark;
  }
  .grid {
    color: $text-color-dark;
  }
  .grid-item {
    background-color: $block-color-dark;
  }
  .header {
    color: $text-color-dark;
  }
  .footer {
    color: $text-color-dark;
  }

  .button {
    color: white;
    &:hover {
      background: $gradient-hover;
      svg {
        fill: black;
        stroke: black;
      }
    }
  }
  .menu-element {
    background-color: $block-color-dark;
    color: white;
  }
  .menu-icon {
    color: $text-color-dark;
  }
  .header-menu-main-item-small {
    &:hover {
      background: $gradient-hover;
    }
  }
  .header-menu-main-item-big {
    &:hover {
      background: $gradient-hover;
    }
  }
  .contact-menu-item {
    &:hover {
      background: $gradient-hover;
    }
  }
  .header-menu-main,.header-menu-contact {
    background-color: $bg-color-dark;
  }
  .phone-number:after {
    border-right: 1px solid $bg-color-dark;
  }

  .footer-tea-chat {
    background-color: $block-color-dark;
  }

  .grid-partners-button-left, .grid-partners-button-right {
    background-color: $block-color-dark;
  }
  .phone-number {
    background-color: $block-color-dark;
    color: white;
  }

  .selected-menu {
    .burger-menu {
      background-color: $text-hover-color !important;
      svg {
        fill: black !important;
        stroke: black !important;
      }
    }
  }
  .selected-contact-menu {
    .dropdown-contacts {
      svg {
        fill: black !important;
        stroke: black !important;
      }
    }
  }
  .footer-map-menu-item {
    svg {
      fill: white !important;
      stroke: white !important;
    }
  }
  .footer-map-menu-item.selected-location {
    background: $gradient-hover;
  }

  .grid-image-button {
    background-color: $block-color-dark;
  }

  .hidden-item {
    background-color:$bg-color-dark;
    color: $text-color;
  }
}

.container.light {
  background-color: $bg-color-light;

  .grid {
    color: $text-color-light;
  }
  .grid-item {
    background-color: $block-color-light;
  }
  .header {
    color: $text-color-light;
  }
  .footer {
    color: $text-color-light;
  }

  .header-menu-block {
    background-color: $block-color-light;
  }

  .header-themes-block {
    background-color: $block-color-light;
  }

  .grid-designer-example {
    background-color: $block-color-light !important;

    svg {
      fill: none;
    }
  }

  svg {
    fill: $text-color-light;
    stroke: $text-color-light;
  }

  .grid-breess-button {
    background-color: $block-color-light;
  }

  .grid-image-button {
    background-color: $block-color-light;
  }

  .button {
    color: $text-color-light;
    &:hover {
      color: white;
      background-color: $text-color-light;
      svg {
        fill: white;
        stroke: white;
      }
    }
  }
  .menu-element {
    background-color: $block-color-light;
    color: $text-color-light;
  }
  .menu-icon {
    color: $text-color-light;
  }
  .header-menu-main-item-small {
    &:hover {
      .menu-icon {
        color: white;
      }
    }
  }
  .header-menu-main-item-big {
    &:hover {
      .menu-icon {
        color: white;
      }
    }
  }
  .header-themes-text-break {
    background-color: $text-color-light;
    opacity: 0.1;
  }
  .header-menu-main,.header-menu-contact {
    background-color: $bg-color-light;
  }
  .phone-number {

    &:after {
      border-right: 1px solid $bg-color-light;
    }
    &:hover {

      &:after {
        color: white;
      }
    }
  }
  .footer-tea-chat{
    background-color: $block-color-light;
    color: $text-color-light;
  }

  .footer-map-menu-item {
    border-bottom: 1px solid $bg-color-light;
  }

  .grid-partners-button-left, .grid-partners-button-right {
    background-color: $block-color-light;
  }
  .phone-number {
    background-color: white;
    color: $text-color-light;
  }

  .selected-menu {
    .burger-menu {
      background-color: $text-color-light !important;
      svg {
        fill: white !important;
        stroke: white !important;
      }
    }
  }
  .selected-contact-menu {
    .dropdown-contacts {
      svg {
        fill: white;
        stroke: white;
      }
    }
  }
  .footer-map-menu-item {
    svg {
      fill: $text-color-light !important;
      stroke: $text-color-light !important;
    }
    &:hover {
      svg {
        fill: white !important;
        stroke: white !important;
      }
    }
  }
  .footer-map-menu {
    .footer-map-menu-item.selected-location {

      color: white;
      background-color: #105791;
      svg {
        stroke: white !important;
      }
    }
  }

  .contacts-item-field-icon {
    svg {
      stroke: $text-color-light;
    }
  }

  .grid.development {
    svg {
      stroke: #F94865 !important;
    }
    .grid-title-icon {
      svg {
        stroke: white !important;
      }
    }
  }
  .development-header-file, .development-header-arrow {
    svg {
      stroke: #F94865 !important;
    }
  }

  .webdesign .webdesign-logotypes .grid-logotypes-example {
    background-color: white;
    svg {
      stroke: #597541;
    }
  }

  .price-footer {
    .footer-themes-text-break {
      background-color: #105791;
      opacity: 0.1;
    }
  }
  .price-body-price-list-item-content {
    background-color: $block-color-light;
    color: $text-color-light !important;
  }
}
