$webdesign-gradient: linear-gradient(to top right, #A6C540, #597541);
$webdesign-color: #AACD6B;


.footer-back.webdesign, .footer-next.webdesign {
  svg {
    stroke: $webdesign-color !important;
  }
}

.webdesign {

  h2 {
    font-size: 2.8vw;
    font-weight: bold;
    text-transform: none;
    background: $webdesign-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    line-height: normal;
  }

  h1 {
    padding: 20px;
    font-weight: bold;
    font-size: 3.8vw;
    color: white;
    display: table-caption;
    line-height: 1.1em;
    font-family: sans-serif;
  }

  .request-checkbox {
    padding: 0 20px;
  }

  .webdesign-logotypes {

    @extend .banner-item;
    position: relative;
    height: 60%;

    .grid-container {
      width: 100%;
      padding: 20px;
    }

    .grid-logotypes-text {
      padding-top: 15px;
      padding-left: 5px;
      font-size: 1.3vw;
      line-height: normal;
    }
    .grid-logotypes-header {
      .title {
        @extend .gradient-text;
      }
    }
    .grid-logotypes-banner {
      display: flex;
      padding-top: 20px;

      .grid-logotypes-example-container {
        flex: 1;
        width: 8vmax;
        height: 8vmax;
        border-radius: $border-radius;
        margin: 5px;
        padding: 2px;
        background: linear-gradient(to top right, #A6C540, #597541);
        svg {
          fill: none;
          width: 100%;
          height: 100%;
        }
      }
      .grid-logotypes-example {
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background-color: $block-color-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }
    }
  }
  .grid-landing {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-landing-header {
    padding: 20px;
  }
  .grid-landing-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 1.9vh;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-landing-picture {
    position: absolute;
    height: 100%;
    max-width: 50%;
    right: 0;
    top: 0;

    img {
      height: 100%;
      width: auto;
    }
  }

  .grid-title {
    @extend .banner-item;
    position: relative;
    height: 70%;

    .grid-container {
      background: $webdesign-gradient;
    }
  }
  .grid-title-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 6vw;
    height: 11vh;
    svg {
      width: 100%;
      height: 100%;
      stroke: white;
    }
  }
  .grid-catalog {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-3d {
    @extend .banner-item;
    position: relative;
    height: 30%;
  }
  .grid-catalog-header, .grid-3d-header {
    padding: 20px 20px 10px 20px;
  }
  .grid-catalog-list, .grid-3d-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    font-size: 2vh;
    padding-left: 20px;

    li {
      margin-left: 30px;
      margin-bottom: 1em;
    }
  }
  .grid-catalog-icon, .grid-3d-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16%;
    height: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .grid-project {
    @extend .banner-item;
    position: relative;
    height: 60%;

    .grid-container {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  .grid-project-button {
    display: flex;
    margin: 40px 20px;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-color: $block-color-dark;
    border-radius: $border-radius;

    .grid-project-button-text {
      font-size: 1.3vw;
      font-family: "Segoe UI";
      background: $webdesign-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .grid-project-button-icon {
      position: absolute;
      right: 20px;
      height: 50%;

      svg {
        fill: none;
        width: 100%;
        height: 100%;
      }
    }
  }

  .grid-request {
    @extend .banner-item;
    position: relative;
    height: 40%;
  }

  .grid-request-header {
    padding: 20px 20px 0 20px;
  }

  .grid-request-content {
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .grid-request-content-sent-button {
    height: 5vh;
    width: 26%;
    min-width: 80px;
    margin-left: 31px;

    button {
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
      font-size: 1.2vw;
      border: 0;
      background: $webdesign-gradient;
      color: white;
    }
  }
  .grid-title-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5vw;
    line-height: 1.3em;
    max-width: 80%;
  }

  .grid-request-content-inputs {
    width: 70%;
    padding-bottom: 15px;

    input {
      WIDTH: 100%;
      BACKGROUND: transparent;
      font-size: 1.9vh;
      border: 0;
      padding: 8px 0;
      color: $webdesign-color;
    }
    .input-break {
      width: 100%;
      height: 1px;
      background: $webdesign-gradient;
    }
  }
}

.webdesign-header {
  @extend .header-menu-block;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.webdesign-header-link {
  font-size: 38px;
  height: 1.1em;
  font-weight: bold;
  font-family: "Segoe UI";
  background: $webdesign-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.webdesign-header-file {
  margin-left: 10px;
}

.webdesign-footer-technologies {
  flex-direction: column;
}
.webdesign-footer-technologies-title {
  padding-left: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: none;
  background: $webdesign-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  line-height: normal;

}
.webdesign-footer-technologies-list {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.webdesign-footer-technologies-line {
  margin-left: 12px;
  width: 21%;
  height: 1px;
  background-color: $webdesign-color;
}

.webdesign-footer-technologies-list-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 1.2vw;
}
