@font-face {
  font-family: 'icomoonPagetest';
  src:  url('fonts/icomoon.eot?bmu04e');
  src:  url('fonts/icomoon.eot?bmu04e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bmu04e') format('truetype'),
    url('fonts/icomoon.woff?bmu04e') format('woff'),
    url('fonts/icomoon.svg?bmu04e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoonPagetest-"], [class*=" icomoonPagetest-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonPagetest' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoonPagetest-documents:before {
  content: "\e900";
  color: #00538c;
}
.icomoonPagetest-ux_test:before {
  content: "\e902";
  color: #00538c;
}
.icomoonPagetest-auto:before {
  content: "\e901";
  color: #00538c;
}
.icomoonPagetest-manual:before {
  content: "\e909";
  color: #00538c;
}
.icomoonPagetest-reg:before {
  content: "\e90a";
  color: #00538c;
}
