@font-face {
  font-family: 'icomoonDocuments';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoonDocuments-"], [class*=" icomoonDocuments-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonDocuments' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icomoonDocuments-search:before {
  content: "\e90a";
  color: #00538c;
}
.icomoonDocuments-answer:before {
  content: "\e900";
  color: #00538c;
}
.icomoonDocuments-attache:before {
  content: "\e901";
  color: #00538c;
}
.icomoonDocuments-children:before {
  content: "\e902";
  color: #00538c;
}
.icomoonDocuments-graph:before {
  content: "\e903";
  color: #00538c;
}
.icomoonDocuments-heart:before {
  content: "\e904";
  color: #00538c;
}
.icomoonDocuments-heart2:before {
  content: "\e905";
  color: #00538c;
}
.icomoonDocuments-human:before {
  content: "\e906";
  color: #00538c;
}
.icomoonDocuments-leaves:before {
  content: "\e907";
  color: #00538c;
}
.icomoonDocuments-seo_classic:before {
  content: "\e908";
  color: #00538c;
}
.icomoonDocuments-SMM:before {
  content: "\e909";
  color: #00538c;
}
