@font-face {
  font-family: 'imoon';
  src:  url('fonts/imoon.eot?h8gxgc');
  src:  url('fonts/imoon.eot?h8gxgc#iefix') format('embedded-opentype'),
    url('fonts/imoon.ttf?h8gxgc') format('truetype'),
    url('fonts/imoon.woff?h8gxgc') format('woff'),
    url('fonts/imoon.svg?h8gxgc#imoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="imoon-"], [class*=" imoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'imoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imoon-test-1:before {
  content: "\e908";
  color: #00538c;
}
.imoon-test-2:before {
  content: "\e909";
  color: #00538c;
}
.imoon-test-3:before {
  content: "\e90a";
  color: #00538c;
}
.imoon-test-4:before {
  content: "\e90b";
  color: #00538c;
}
.imoon-test-5:before {
  content: "\e90c";
  color: #00538c;
}
.imoon-internet-magazin:before {
  content: "\e900";
  color: #00538c;
}
.imoon-all:before {
  content: "\e901";
  color: #00538c;
}
.imoon-visit:before {
  content: "\e902";
  color: #00538c;
}
.imoon-corp_sites:before {
  content: "\e903";
  color: #00538c;
}
.imoon-lp:before {
  content: "\e904";
  color: #00538c;
}
.imoon-design:before {
  content: "\e905";
  color: #00538c;
}
.imoon-in_process:before {
  content: "\e906";
  color: #00538c;
}
.imoon-services:before {
  content: "\e907";
  color: #00538c;
}
